.AddressBook {
    margin: 30px;
}

.AddressBook-HEAD {
    height: 40vmin;
    pointer-events: none;
}

.AddressBook container{
    text-align: center;
}

.AddressBook .list-area{
    overflow:scroll;
    height:580px;
    width:270px;
    border: 2px solid;
    border-radius: 5px;
    margin-inline: 15px;
    position: relative;
    margin-right: 15px;
}

.AddressBook .selectedInfo{
    width:200px;
}

.AddressBook td{
    width: 220px;
}

.header{
    border-bottom: 4px ;
    text-align: center;
    background-color: gray;
}

.AddressBook .hd{
    border-bottom: 4px ;
    text-align: center;
    column-span: 2;
}

.count {
    width: 112px;
    height: 47px;
    border-bottom: 0 solid black;
    position: relative;
}
.AddressBook table{
    height:700px;
    width: 700px;
    border: 1px solid;
    border-radius: 5px;
    margin-inline: 3px;
    position: relative;
}

.AddressBook img.display {
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 10px;
}

.AddressBook .view-area{
    text-decoration-line: none;
    height: 550px;
    width: 400px;
    margin: 15px;
}

.item-div:hover {
    background-color: lightskyblue;
}

.edit-form{
    margin-left: 10px;
    width: 400px;
}

.contact div{
    padding: 3px;
}

.AddressBook .error{
    color: brown;
    font-size: smaller;
    font-style: italic;
}

.AddressBook button{
    font-size: medium;
    border-radius: 10%;
    margin: 2px 5px 0 2px;
}

input#file-upload-button {
    font-size: smaller;
    border-radius: 10%;
    margin: 2px 15px 0 2px;
}

.Contact input{
    font-size: medium;
    border-radius: 10%;
    margin: 2px 5px 0 2px;
}

div.line{
    width: 300px;
    height: 15px;
    border-bottom: 1px dashed dimgray;
    position: center;
}

.edit-form input{
    WIDTH: 60%;
    padding: 1px;
    font-size: small;
    height: 16px;
}

.edit-form .date-input{
    width: 30%;
}
