.AddressBook {
    margin: 30px;
}

.AddressBook-HEAD {
    height: 40vmin;
    pointer-events: none;
}

.AddressBook container{
    text-align: center;
}

.AddressBook .listArea{
    overflow:scroll;
    height:580px;
    width:200px;
    border: 2px solid;
    border-radius: 5px;
    margin-inline: 15px;
    position: relative;
}

.AddressBook .selectedInfo{
    width:200px;
}

.AddressBook td{
    width: 220px;
}

.header{
    border-bottom: 4px ;
    text-align: center;
    background-color: gray;
}

.AddressBook .header .hd{
    border-bottom: 4px ;
    text-align: center;
}

.count {
    width: 112px;
    height: 47px;
    border-bottom: 0px solid black;
    position: relative;
}
.AddressBook table{
    height:550px;
    border: 1px solid;
    border-radius: 5px;
    margin-inline: 3px;
    position: relative;
}

.AddressBook img.display {
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 10px;
}

.AddressBook .viewArea{
    margin-top: 2px;
    height: 540px;
    width: 250px;
}

.item-div:hover {
    background-color: lightskyblue;
}
