.Contact{
    margin: 0;
    text-decoration-line: none;
    width:200px;
    margin-left: 3px;
}


.Contact div#row {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    margin: 5px;
}

.Contact li:nth-child(odd) {
    color: gray;
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.Contact .imageArea{
    margin-top: 2px;
    margin-bottom: 50px;
}

.Contact .item-div  {
    position: relative;
    z-index: 9;
    background: green;
    width:500px;
    height:100px;
}

.Contact .item-dov:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;

    bottom: 0;
    left: 0;
    background: red;
}

.Contact div.row{
    margin: 5px;
    padding: 3px;
}

.Contact button{
    font-size: medium;
    border-radius: 5%;
    margin: 2px 5px 0 2px;
}